<div class="block">   
    <form method="POST" action="/register">
    <h3 style="text-align: center; font-weight: bold;">Register Form</h3>
        <input type="text" class="username" name="username" placeholder="Username">
        <input type="password" class="password" name="password" placeholder="Password">
        <button type="submit" class="btn btn-primary registerBtn">Register</button>
        <a href="/">Login</a>
    </form>
</div>