<div class="left-content">
    <form class="loginForm" method="POST" action="/login">
        <div class="formTop">
            <h3 style="text-align: center; font-weight: bold;">Đăng ký</h3>
            <input class="name" type="text" name="username" placeholder="HỌ TÊN">
            <input class="username" type="text" name="username" placeholder="TÊN ĐĂNG NHẬP">
            <input class="password" type="password" name="password" placeholder="MẬT KHẨU">
            <input class="repassword" type="password" name="password" placeholder="XÁC NHẬN MẬT KHẨU">
        </div>
        <div class="formBot">
            <a class="loginBtn" href="/">Đăng nhập</a>
            <button type="submit" class="registerBtn">Đăng ký</button>
        </div>
    </form>
</div>
<div class="right-content">
    <img src="image/background/register.jpg" alt="">
</div>