<div class="right-content">
    <div class="top">
    </div>
    <div class="middle">
        <div class="warning">
            <h2 style="text-align: center; font-weight: bold;">NỘI DUNG NÀY CHƯA KHẢ DỤNG</h2>
            <span class="material-symbols-outlined" style="font-size: 40px; margin-bottom: 8px;">search</span>
        </div>
        <div class="backBtn"><a href="/dashboard">Quay lại</a></div>
    </div>
</div>