<div class="block">   
    <form method="POST" action="/login">
    <h3 style="text-align: center; font-weight: bold;">Login Form</h3>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="/register">Register</a>
    </form>
</div>