<div class="right-content">
    <div class="top">
        
    </div>
    <div class="middle">
        <div class="warning">
            <h1 style="text-align: center; font-weight: bold;">NỘI DUNG NÀY CHƯA KHẢ DỤNG</h1>
            <span class="material-symbols-outlined" style="font-size: 60px; margin-bottom: 8px;">search</span>
        </div>
        <div class="backBtn"><a href="/document">Quay lại</a></div>
    </div>
</div>