<div class="content">
    <div class="left-content">
        <form class="loginForm" method="POST" action="/login">
            <div class="formTop">
                <h3 style="text-align: center; font-weight: bold;">Đăng nhập</h3>
                <input class="username" type="text" name="username" placeholder="TÊN ĐĂNG NHẬP">
                <input class="password" type="password" name="password" placeholder="MẬT KHẨU">
            </div>
            <div class="formBot">
                <a class="registerBtn" href="/register">Đăng ký</a>
                <button type="submit" class="loginBtn">Đăng nhập</button>
            </div>
        </form>
    </div>
    <div class="right-content">
        <img src="image/background/login.jpg" alt="">
    </div>
</div>