* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363636;
}

.content {
    width: 80vw;
    height: 70vh;
    display: flex;
    border: 1px solid #fff;
}

.content .left-content {
    width: 30%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.content .right-content {
    width: 70%;
    height: 100%;
}

.content .right-content img {
    width: 100%;
    height: 100%;
}

.loginForm {
    height: 60%;
    width: 100%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.loginForm .formTop {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm .formTop input {
    margin: 10px 0;
    padding: 10px 10px;
    border-radius: 5px;
}

.loginForm .formBot {
    width: 60%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.loginForm .formBot .loginBtn { 
    width: 100px;
    height: 50px;
    background-color: #f2f2f2;
    color: #fff;
    border: 0px;
    border-radius: 10px;
}

.loginForm .formBot .loginBtnActive { 
    width: 100px;
    height: 50px;
    background-color: #d13639;
    color: #fff;
    border: 0px;
    border-radius: 10px;
}

.loginForm .formBot a {
    text-decoration: none;
    width: 100px;
    height: 50px;
    color: #fff;
    border: 0px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    background-color: #3643d1;
}

.loginForm .formBot a:hover {
    background-color: #2e39b3;
}

.loginForm .formBot .loginBtnActive:hover {
    background-color: #a32c2e;
}

.loginForm input {
    width: 85%;
    height: 50px;
    border: 0px;
    background-color: #f2f2f2;
}

.loginForm input:focus {
    outline: none;
}