<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lịch sử bài thi</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="swiper/swiper.min.css">
    <link rel="stylesheet" href="css/styleHistory.css">
    <link rel="stylesheet" href="datatables/css/datatables.min.css">
    {{!-- <link rel="stylesheet" href="datatables/css/bootstrap5.min.css"> --}}
    <script src="js/jquery.min.js"></script>
    <script src="datatables/js/jquery-3.5.1.js"></script>
    <script src="datatables/js/jquery.datatables.min.js"></script>
</head>
<body>
    <div class="content">
        {{> slidebar}}
        {{{ body }}}
    </div>
    
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="swiper/swiper.min.js"></script>
    <script src="js/mainHistory.js"></script>
    <script src="datatables/js/datatables.min.js"></script>
</body>
</html>